body {
  font-family: "Rowdies", cursive;
  color: #54d8c2;
}

h1 {
  width: 100%;
  text-align: center;
}
.tabs-block-wrapper,
.tabs-block-wrapper-in {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
#tabs,
#tabs-in {
  display: flex;
  justify-content: space-between;
}
.tab-btn,
.tab-btn-in {
  width: 100px;
  height: 40px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  margin: 10px;
}
.tab-btn.active,
.tab-btn-in.active {
  background-color: #54d8c2;
  color: #ffffff;
}

#contents,
#contents-in {
  text-align: center;
  background: #75e7e2;
  color: #ffffff;
  font-size: 35px;
  border-radius: 5px;
  max-width: 345px;
  width: 100%;
  height: 150px;
}

.content,
.content-in {
  display: none;
}

.content.active,
.content-in.active {
  display: block;
}
